<div class="parent">
  <h1> This is to practice Angular</h1>
  <!-- Nested components:  -->
<app-header></app-header>
<app-image></app-image>
<div id="navbarNav">
      <!-- <a class="nav-link" routerLink="/products">Products</a> -->
      <a class="list-title" [routerLink]="['/products']">Products</a>
    <router-outlet></router-outlet>
    <div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">  
          <a href="#">Admin</a>  
        </li>  
      <li role="presentation">  
          <a href="#">Employee</a>  
        </li>   
      </ul>
  
    </div>
  
</div>
</div>


