/* You can add global styles to this file, and also import other style files */
.parent {
    // background: turquoise;
    // border: 1px solid #c1c3c1;
    // margin: auto;
    padding: 1em
  }
  .parent h1 {
    color: #333;
    margin: 1em
  }